/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2016, 5:21:02 PM
    Author     : Ralph
*/

html, body {
    height: 100%;
    margin: 0;
}

.experiment-frame {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: red;
    z-index: 10;
    text-align: center;
}

div.title,
.instructions,
.item {
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

p.title {
    font-size: 250%;
}

p.fixation {
    display: block;
    font-size: 5em;
    margin: 0;
    font-family: inherit;
    color: inherit;
}

p.stimulus,
p.prompt,
p.feedback {
    display: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    visibility: hidden;
}

span.region,
span.option {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: inline-block;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

span.option {
    margin-left: 3em;
    margin-right: 3em;
}

span.feedback {
    font-family: inherit;
    font-size: inherit;
    display: none;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.primary-investigators {
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.other-investigators {
    font-weight: normal;
    margin-left: 1em;
    margin-right: 1em;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

textarea.results {
    width: 80%;
    font-family: monospace;
    font-size: 9pt;
    display: none;
}